.container
  .row
    %h1= t('.title')
    .col-md-12
      - cache @products do
        - @products.each do |product|
          - cache product do
            .product
              = image_tag product.image.url(:medium), alt: "#{product.title}", class: "img-thumbnail"
              .product-body
                %h3= product.title
                %div= sanitize(product.description)
                - if I18n.locale == :en
                  %span.price
                    = Product.human_attribute_name(:price)
                    = number_to_currency(eng_price(product.price), :locale => I18n.locale)
                - else
                  %span.price= number_to_currency(product.price, :locale => I18n.locale)
                = link_to t('.add_to_cart'), line_items_path(product_id: product), method: :post
