.row
  .col-md-12
    - if user.errors.any?
      .panel.panel-danger.col-md-offset-1
        .panel-heading
          %h2.panel-title
            = pluralize(user.errors.count, "error")
            prohibited this user from being saved:
          .panel-body
            %ul
              - user.errors.full_messages.each do |msg|
                %li
                  = msg
    = form_for(user, url: users_admin_index_path(user), html: {class: "form-horizontal", role: "form"}) do |f|
      .form-group
        .col-md-1.control-label
          = f.label :email
        .col-md-11
          = f.email_field :email, class: "form-control", placeholder: "user@example.com"
      .form-group
        .col-md-1.control-label
          = f.label :name
        .col-md-11
          = f.text_field :name, class: "form-control", placeholder: "Jane / John"
          %i (leave blank if you don't want to add it)
      .form-group
        .col-md-1.control-label
          = f.label :password
        .col-md-11
          = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Your secret password"
          / <i>(leave blank if you don't want to change it)</i>
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              characters minimum
      .form-group
        .col-md-1.control-label
          = f.label :password_confirmation
        .col-md-11
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      .actions
        = f.submit class: 'btn btn-primary'
