%h1= t('.title')
%table.table.table-hover
  %tr
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:email)
    %th{:colspan => "2"}= User.human_attribute_name(:actions)
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= link_to t(:show), users_admin_path(user)
      %td= link_to t(:destroy), users_admin_path(user), method: :delete, data: {confirm: t(:are_you_sure)}
%hr/
= link_to t('.new'), new_users_admin_path, class: 'btn btn-success'
