.container
  - if current_user.sign_in_count == 1
    %h1
      = t('.hello.first_time')
      = current_user.name != "" ?  current_user.name : current_user.email
      = t('.hello.rest')
  - else
    %h1
      = t('.hello.again')
      = current_user.name || current_user.email
  %p
    = t('.your_email')
    = current_user.email
  = link_to t(:edit), edit_user_registration_path
