.container
  - if @user.sign_in_count == 1
    %h1
      Profil użytkownika
      = succeed "." do
        %em= @user.name || current_user.email
  - else
    %h1
      Witaj ponownie #{@user.name || @user.email}
  %p
    Email: #{@user.email}
  = link_to t(:back), users_admin_index_path
  |
  \#{link_to t(:destroy), users_admin_path(@user), method: :delete, data: { confirm: t(:are_you_sure) }}
