.row
  .col-md-12
    .container
      %h2
        Edit #{resource_name.to_s.humanize}
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put, class: "form-horizontal", role: "form"}) do |f|
        = devise_error_messages!
        .form-group
          .col-md-1.control-label
            = f.label :email
          .col-md-11
            = f.email_field :email, class: "form-control", placeholder: "user@example.com"
        .form-group
          .col-md-1.control-label
            = f.label :name
          .col-md-11
            = f.text_field :name, class: "form-control", placeholder: "Jane / John"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group
          .col-md-1.control-label
            = f.label :password
          .col-md-11
            = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Your secret password"
            %i (leave blank if you don't want to change it)
            - if @minimum_password_length
              %br/
              %em
                = @minimum_password_length
                characters minimum
        .form-group
          .col-md-1.control-label
            = f.label :password_confirmation
          .col-md-11
            = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .form-group
          .col-md-1.control-label
            = f.label :current_password
          .col-md-11
            = f.password_field :current_password, autocomplete: "off", class: "form-control"
            %i (we need your current password to confirm your changes)
        .actions
          = f.submit class: 'btn btn-success'
      %h3 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: {confirm: t(:are_you_sure)}, method: :delete, class: "btn btn-danger"}
      = link_to "Back", :back, class: 'btn btn-default'
