.container
  .row
    .col-md-12
      #flash-messages
        - flash.each do |key, message|
          %div{:class => "text-center alert alert-#{key == 'notice' ? 'success' : 'danger'}"}
            = message
