.row
  .col-md-12
    - if @order.errors.any?
      .panel.panel-danger.col-md-offset-1
        .panel-heading
          %h2.panel-title
            = pluralize(@order.errors.count, "error")
            prohibited this article from being saved:
          .panel-body
            %ul
              - @order.errors.full_messages.each do |msg|
                %li
                  = msg
    = form_for @order, html: {class: "form-horizontal", role: "form", multipart: true} do |f|
      .form-group
        .col-md-1.control-label
          = f.label :name
        .col-md-11
          = f.text_field :name, class: "form-control", placeholder: "Name", autofocus: true
      .form-group
        .col-md-1.control-label
          = f.label :address
        .col-md-11
          = f.text_area :address, rows: 6, class: "form-control", placeholder: "Address"
      .form-group
        .col-md-1.control-label
          = f.label :email
        .col-md-11
          = f.text_field :email, class: "form-control", placeholder: "Email"
      .form-group
        .col-md-1.control-label
          = f.label :pay_type
        .col-md-11
          = f.select :pay_type, Order.pay_types_i18n, class: "form-control", prompt: t(".select_payment")
      .form-group
        .col-md-offset-1.col-md-11
          = f.submit class: "btn btn-primary btn-lg pull-right"
