%table.table.table-hover
  %tr
    %th= Order.human_attribute_name(:name)
    %th= Order.human_attribute_name(:address)
    %th= Order.human_attribute_name(:email)
    %th= Order.human_attribute_name(:pay_type)
    %th= Order.human_attribute_name(:actions)
  - @orders.each do |order|
    %tr
      %td= order.name
      %td= order.address
      %td= order.email
      %td= order.pay_type
      %td= link_to t(:destroy), order, method: :delete, data: {confirm: t(:are_you_sure) }
