%p#notice= notice
%p
  %strong= Order.human_attribute_name(:name)
  = @order.name
%p
  %strong= Order.human_attribute_name(:address)
  = @order.address
%p
  %strong= Order.human_attribute_name(:email)
  = @order.email
%p
  %strong= Order.human_attribute_name(:pay_type)
  = @order.pay_type
= link_to t(:edit), edit_order_path(@order)
|
= link_to t(:back), orders_path
