%h2 DS Store Cart
%table.table.table-striped
  = render cart.line_items
  %tr
    %td.text-right{:colspan => "2"}
      %b Total Price:
    %td
      %b= number_to_currency(cart.price_calculation)
.actions
  = link_to "Checkout", new_order_path, class: "btn btn-success"
  = button_to 'Empty Cart', cart_path(@cart), method: :delete, |
    data: { confirm: t(:are_you_sure), title: t('confirm_delete'), commit: t(:delete), cancel: t(:cancel) },                       |
    class: "btn btn-danger"                                    |
  = link_to 'Back to Shelf', root_path, class: "btn btn-default"
