%h2.text-center Log in
= form_for(resource, as: resource_name, html: {class: "form-horizontal", role: "form"}, |
  url: session_path(resource_name)) do |f|                                              |
  .form-group
    .control-label.col-md-3
      = f.label :email
    .col-md-9
      = f.email_field :email, class: "form-control", autofocus: true
  .form-group
    .control-label.col-md-3
      = f.label :password
    .col-md-9
      = f.password_field :password, autocomplete: "off", class: "form-control", autofocus: true
  - if devise_mapping.rememberable?
    .form-group
      .control-label.col-md-3
        = f.label :remember_me
      .col-md-9
        = f.check_box :remember_me
  .form-group
    .col-md-offset-3.col-md-9
      = f.submit "Log in", class: "btn btn-primary"
  .form-group
    .col-md-offset-3.col-md-9
      = render "devise/shared/links"
