// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
  .show {
    .actions {
      display: flex;
      a, form {
        margin-right: 5px;
      }
    }
  }
}