// Place all the styles related to the Shelf controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shelf {
  .index {

    h1 {
      margin: 0;
      padding-bottom: 0.5em;
      font: 150% sans-serif;
      color: #226;
      border-bottom: 3px dotted #77d;
    }

    div.product {
      display: flex;
      flex: 1;
      background-color: #efefef;
      border-bottom: 1px dotted #77d;
      margin-top: 16px;
      div.product-body {
        margin-left: 25px;

        h3 {
          font-size: 120%;
          font-family: Sans-Serif;
          margin-top: 0;
          margin-bottom: 2px;
          color: #227;
        }

        span.price {
          font-weight: bold;
          margin-top: 8px;
          margin-right: 12px;
        }
      }
    }


  }
}