.row
  .col-md-12
    - if @product.errors.any?
      .panel.panel-danger.col-md-offset-1
        .panel-heading
          %h2.panel-title
            = pluralize(@product.errors.count, "error")
            prohibited this article from being saved:
          .panel-body
            %ul
              - @product.errors.full_messages.each do |msg|
                %li
                  = msg
    = form_for @product, html: {class: "form-horizontal", role: "form", multipart: true} do |f|
      .form-group
        .col-md-1.control-label
          = f.label :title
        .col-md-11
          = f.text_field :title, class: "form-control", placeholder: "Title of Product", autofocus: true
      .form-group
        .col-md-1.control-label
          = f.label :image
        .col-md-11
          = f.file_field :image
      .form-group
        .col-md-1.control-label
          = f.label :description
        .col-md-11
          = f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of Product"
      .form-group
        .col-md-1.control-label
          = f.label :price
        .col-md-11
          = f.text_field :price, col: 5, class: "form-control", placeholder: "Price of Product"
      .form-group
        .col-md-offset-1.col-md-11
          = f.submit class: "btn btn-primary btn-lg pull-right"
