- if user_signed_in?
  = link_to t('.new'), new_product_path, class: "btn btn-default btn-lg"
- if @products.empty?
  %h1#no-products No Products Created
- else
  %table.table.table-hover
    %tr
      %th= Product.human_attribute_name(:title)
      %th= Product.human_attribute_name(:image)
      %th= Product.human_attribute_name(:description)
      %th= Product.human_attribute_name(:price)
      %th= Product.human_attribute_name(:author)
      %th= Product.human_attribute_name(:shelf)
    - @products.each do |product|
      %tr
        %td.product-title
          %h3= link_to product.title, product_path(product)
        %td.product-image= image_tag product.image.url(:thumb), class: "img-thumbnail"
        %td.product-description= sanitize(product.description.truncate(350, separator: " "))
        %td.product-price
          %strong= product.price
        %td
          %small
            = "#{t('.created_by')}: #{product.user.email}"
        %td.product-toggle= button_to "#{product.shelf? ? t(".hide") : t('.show')}", toggle_shelf_product_path(product), class: "btn btn-warning", method: :patch
