%h1= @product.title
= image_tag @product.image.url(:medium), class: "img-thumbnail"
.glyphicon.glyphicon-calendar
  = @product.created_at.strftime("%b %d %Y")
%div
  = sanitize @product.description
%strong= @product.price
- if current_user == @product.user && user_signed_in? || current_user.admin?
  .product-actions
    = link_to "Edit Product", edit_product_path(@product), class: "btn btn-primary btn-lg btn-space"
    = link_to "Delete Product", product_path(@product), method: :delete, |
      data: {confirm: "Are you sure you want to delete product?"},       |
      class: "btn btn-danger btn-lg btn-space"                           |
= link_to "Who bought", who_bought_product_url(@product.id, format: :atom)
