%p#notice= notice
%h1 Line Items
%table
  %thead
    %tr
      %th Product
      %th Cart
      %th{:colspan => "3"}
  %tbody
    - @line_items.each do |line_item|
      %tr
        %td= line_item.product
        %td= line_item.cart
        %td= link_to 'Show', line_item
        %td= link_to 'Edit', edit_line_item_path(line_item)
        %td= link_to 'Destroy', line_item, method: :delete, data: { confirm: t(:are_you_sure) }
%br/
= link_to 'New Line Item', new_line_item_path
